:root {
    --a-color: red;
    --b-color : black;
    --c-color : white; 

    --navbar-height:34px;
    --header-height:120px;
    --header-with-sreach-height:calc(var(--header-height)- var(--navbar-height));
}

* {
    box-sizing: inherit;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid__100 { 
    width: 1200px;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}
.grid {
    width: 1200px;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    
}

/*test*/
.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-2 {
padding-left: 12px;
padding-right: 12px;
width: 20%;
}
/* Phần này để ảnh chuyển này */

.grid__product-8 {
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
}

.grid__full-with {
    width: 100% ;
}

.grid__row {
    display: flex;
   /* flex-wrap: wrap;*/
    margin-left: -12px;
    margin-right: -12px;
}

@keyframes Fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
        
    }


    @keyframes growth {
        from {
            transform: scale(var(--growth-from));
        }
        to {
            transform: scale(var(--growth-to));

        }
            
        }

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: Fadein linear 0.1s ;
    
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.3);
    z-index: 2;

}

.modal__body {
    --growth-from:0.7;
    --growth-to:1;
    
    background-color:white;
    margin: auto;
    position: relative;
    z-index: 3;
    border-radius:5px;
    animation: growth linear 0.1s;
}
/* authen modal */
.auth-form__container {
    padding: 0 32px ;
}

/* buttom style */

.btn {
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    padding: 0;
    outline: none;
    cursor: pointer
    
    
    
}
.btn:hover {
    background-color: rba(0,0,0,0.05);
}
.btn.btn--primary {
    color: white;
    background-color: red;
}

.btn.btn--disabled {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

.btn.btn--size-s {
    height: 30px;
    font-size: 15px;
    color:black;
}

.grid__1000 { 
    width: 1200px;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.grid_2000 {
    width: 600px;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
}




.grid_10102003{
    width: 10%;
    margin-top: 40px;
    color: red;
    font-size: 15px;
}



.grid_1010 { 
    width: 50%;
}

.grid_0812 { 
    width: 40%;
    margin-top: 120px;
    margin-left: 100px;
}

.grid_2610 {
    width: 1200px;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    position: absolute;
    display: flex;
    margin-top: 50px;
}